<div class="container-fluid">
  <div class="row">
    <div class=" col-lg-3 col-md-3 col-xs-3"><a class="button All active" href="#">ALL</a></div>
    <div class=" col-lg-3 col-md-3 col-xs-3"><a class="button Red " href="#" >Red</a></div>
    <div class=" col-lg-3 col-md-3 col-xs-3"><a class="button Green" href="#">Green</a></div>
    <div class=" col-lg-3 col-md-3 col-xs-3"><a class="button Blue" href="#">Blue</a></div>
  </div>
</div>
<div class="container-fluid">
     <div class="row">
        <div class="box col-lg-8 col-md-8 col-xs-12" style="height: 400px"> test</div>
        <div class="box col-lg-4 col-md-4 col-xs-12">tsst</div>
        <div class="box col-lg-4 col-md-4 col-xs-12"> test</div>
        <div class="box col-lg-4 col-md-4 col-xs-12">test</div>
        <div class="box col-lg-4 col-md-4 col-xs-12">test</div>
        <div class="box col-lg-4 col-md-4 col-xs-12">test</div>
        <div class="box col-lg-4 col-md-4 col-xs-12">test</div>
        <div class="box col-lg-4 col-md-4 col-xs-12">test</div>
    </div>
</div>